* {
  background-color: gold;
}
#calci {
  border: 2px solid rgb(224, 231, 225);
  border-radius: 27px;
  width: 239px;
  margin-left: 641px;
  margin-top: 112px;
  background-color: cyan;
}
#display {
  margin: 10px;
  width: 85%;
  height: 20px;
  border-radius: 4px;
  font-size: large;
}
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 27px;
  background-color: cyan;
}
.button {
  font-size: xx-large;
  border-radius: 4px;
  width: 50px;
  height: 40px;
  margin: 5px;
}
.h {
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-size: x-large;
}
